* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: linear-gradient(180deg, #0b0d10 0%, #0f1117 100%);
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  font-size: 16px;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;
}