* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}

.links {
  display: flex;
  gap: 15px;
}

.links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}